# dependencies
/node_modules

# Next.js build output
/.next
/out

# Vercel project metadata
/.vercel

# environment files
.env*
!.env.example

# local files
.DS_Store
*.log
.vercel
tsconfig.tsbuildinfo